fieldset {
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: $base--spacing;
}
label {
  display: block;
}
.label--inline {
  display: inline;
}
.label--required {
  &:after {
    content: " *";
    color: #c33;
  }
}
.label--radio {
  margin-bottom: 0;
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.label--checkbox {
  margin-bottom: 0;
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

input[type="submit"], button[type="submit"] {
  display: block;
  background: #580d0a;
  border: 0;
  box-shadow: 4px 4px 0 rgba(173, 20, 20, 1);
  color: #eee;
  line-height: 1;
  padding: 0.75em 1em;
  transition: background .3s;
  &:focus, &:hover {
    background: #ad1414;
    box-shadow: 4px 4px 0 #580d0a;
  }
}

select {
  margin-bottom: $base--spacing;
  cursor: pointer;
  z-index: 1;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background: #fff;
  -webkit-appearance: none;
  border: 0;
  box-shadow: 4px 4px 0 rgba(104, 14, 15, 0.8);
  padding: 0.5em;
  max-width: 400px;
  border-radius: 0;
  width: 100%;
  &:focus {
    border-color: darken($base--border, 10%);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075),0 0 8px rgba($base--border, 0.6);
  }
  @include input-placeholder {
    color: rgba(#000, 0.5);
  }
}
textarea {
  height: 130px;
}