.container {
	padding: 1em;
	max-width: 80em;
	margin: 0 auto;
}

.container--top-padding {
	padding: 1em 1em 0;
}

.logo {
	max-width: 10em;
}

.menu--main {
	text-align: center;
	li {
		font-size: 18px;
		display: inline-block;
	}
	a {
		position: relative;
		display: block;
    padding: 0.5em 1em;
		color: #003333;
		&:active, &:hover, &:focus {
			color: #66CCCC;
		}
	}
}

.wrap--tiled {
	background: #fff url(../../src/img/tiled-pattern.svg) center -5px repeat;
	background-size: contain;
}

.wrap--teal {
	background: #67c8ca;
	color: #093334;
	font-family: "AdelleBoldItalic", Georgia, "Times New Roman", serif;
	font-size: 21px;
	font-style: italic;
	font-weight: bold;
	line-height: 1.3125;
	position: relative;
	text-shadow: 0 2px 0 rgba(50, 154, 154, 0.5);
	a {
		color: #6cc;
	}
}

.img--skyline {
	display: block;
	bottom: 0;
	border: 0; // Need to zero this out for all images
	height: auto; // Make all images responsive
	max-width: 100%; // Make all images responsive
	position: relative;
	bottom: -1px; // Seems to fix 1px spacing at bottom of svg
}

.wrap--dkgreen {
	background: #003333 url(/dist/img/pattern.svg);
	background-size: cover;
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
}

.wrap--medgreen {
	background: #56b1b1;
	color: #003333;
	font-size: 18px;
	line-height: 1.5;
}

.wrap--light {
	background: #eee;
	color: #282828;
	font-size: 18px;
	line-height: 1.5;
}

.wrap--red {
	background: #cc3333;
	color: #eee;
	font-size: 18px;
	line-height: 1.5;
}

.wrap--dark {
	background: #222;
	color: #8757b5;
	a {
		color: #8757b5;
	}
}

.container--footer {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.capsule-crm-form {
	text-align: left;
	margin: 0 auto;
	// max-width: 400px;
}
.font--big {
	@include font-size($font-size--hero, true, false);
	font-family: $secondary--font-family;
  // color: #fff;
}
p.alert__thank-you {
	display: none;
	&:target {
		display: block;
	}
}