.logo {
	max-width: 10em;
}

@include breakpoint(50em) {
	.container--header {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.logo-h1 {
		flex: 1 0 0;
		line-height: 0; // to get vertical align to work correctly
		a {
			display: block;
		}
	}
	.menu--main {
		flex: 1 0 0;
	}
}

.menu--main {
	text-align: center;
	ul {
		padding-bottom: 0;
	}
	li {
		font-size: 18px;
		display: inline-block;
	}
	a {
		position: relative;
		display: block;
    padding: 0.5em;
		color: #003333;
		&:active, &:hover, &:focus {
			color: #66CCCC;
		}
		@include breakpoint(40em) {
			padding: 0.5em 1em;
		}
	}
}

.wrap--tiled {
	background: #fff url(../../src/img/tiled-pattern.svg) center -5px repeat;
	background-size: contain;
}

.wrap--teal {
	background: #67c8ca;
	color: #093334;
	font-family: "AdelleBoldItalic", Georgia, "Times New Roman", serif;
	font-size: 21px;
	font-style: italic;
	font-weight: bold;
	line-height: 1.3125;
	position: relative;
	text-shadow: 0 2px 0 rgba(50, 154, 154, 0.5);
	a {
		color: #6cc;
	}
}

.container--teal {
	padding: 2em 0 0;
	p {
		padding: 0 1.5em;
	}
}

.img--skyline {
	display: block;
	position: relative;
	bottom: -1px; // Seems to fix 1px spacing at bottom of svg
}

.wrap--medgreen {
	background: #207c7f;
	color: #fff;
	font-size: 18px;
	line-height: 1.5;
	overflow: hidden;
	position: relative;
}

.container--medgreen {
	padding: 1.5em 1em 80%;
}
@include breakpoint(50em) {
	.devices {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
	}
	.container--medgreen {
		padding: 1.5em 55% 1em 1em;
	}
}
.img--desktop {
	position: absolute;
	bottom: 0;
	left: 1em;
	max-height: 90%;
	max-width: 90%;
	// @include breakpoint(40em) {
	// 	bottom: 0;
	// 	right: 0;
	// 	left: auto;
	// }
}

.img--laptop {
	position: absolute;
	bottom: 0;
	right: -25%;
	max-height: 70%;
	max-width: 70%;
	// @include breakpoint(40em) {
	// 	bottom: 0;
	// 	right: -20%;
	// 	max-height: 50%;
	// 	max-width: 100%;
	// }
}

.img--tablet {
	position: absolute;
	bottom: 0;
	left: -3%;
	max-height: 25%;
	max-width: 25%;
	// @include breakpoint(40em) {
	// 	bottom: 0;
	// 	right: 0;
	// 	left: auto;
	// 	max-height: 40%;
	// 	max-width: 100%;
	// }
}

.img--mobile {
	position: absolute;
	bottom: 0;
	left: 18%;
	max-height: 15%;
	max-width: 15%;
	// @include breakpoint(40em) {
	// 	bottom: 0;
	// 	right: 0;
	// 	left: auto;
	// 	max-height: 20%;
	// 	max-width: 100%;
	// }
}

.wrap--dkgreen {
	background: #0f6263;
	color: #eee;
	font-size: 18px;
	line-height: 1.5;
	h2 {
		text-shadow: 2px 2px 0 #093334;
	}
}

.wrap--light {
	background: #eee;
	color: #282828;
	font-size: 18px;
	line-height: 1.5;
}

.img--lightbulb {
	// float: right;
	// max-height: 60%;
	// max-width: 60%;
	// margin: -10% -35% 0 4%;
	position: absolute;
	top: 70px;
	right: -30%;
	width: 65%;
	max-height: none;
	@include breakpoint(25em) {
		width: 55%;
		right: -20%;
		top: 50px;
	}
	@include breakpoint(30em) {
		width: 55%;
		right: -20%;
		top: 50px;
	}
	// there will probably have to be a few breakpoints to get this to look good at every width. -RT
}
.lightbulb-text {
	padding-right: 35%;
}
.wrap--red {
	background: #cc3333;
	color: #eee;
	font-size: 18px;
	line-height: 1.5;
	// margin: -30% 0 0;
}

.work__blurb {
	@include breakpoint(21em) {
		padding-right: 20%;
		@include breakpoint(35em) {
			padding-right: 30%;
		}
	}
}

.wrap--dark {
	background: #222;
	color: #8757b5;
	a {
		color: #8757b5;
	}
}

.container--footer {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

@include breakpoint (25em) {
	.addresses {
		float: left;
		width: 100%;
	}
	.addresses__address {
		float: left;
		width: 50%;
		padding-right: 10px;
	}
}

@include breakpoint (45em) {
	.addresses__address, .addresses__phone {
		float: left;
		width: 33%;
		padding-right: 10px;
	}
}

.capsule-crm-form {
	text-align: left;
	margin: 0 auto;
	// max-width: 400px;
}
.font--big {
	@include font-size($font-size--hero, true, false);
	font-family: $secondary--font-family;
  // color: #fff;
}
p.alert__thank-you {
	display: none;
	&:target {
		display: block;
	}
}