.page-wrap {
  clear: both;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
//for centering something on the page.
.container {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  @include font-size(16px);
  @include breakpoint (50em) {
    @include font-size(25px);
  }
  max-width: 1200px;
  //padding if to give breathing room to elements on smaller screens
  // padding-left: $base--spacing/2;
  // padding-right: $base--spacing/2;
  padding: 1em;
  position: relative;
  &.container--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}