[submodule "wp-content/plugins/pinboard-curator"]
	path = wp-content/plugins/pinboard-curator
	url = git@github.com:hoverboard88/pinboard-curator.git
[submodule "wp-content/plugins/hb-functional/open-iconic"]
	path = wp-content/plugins/hb-functional/open-iconic
	url = https://github.com/iconic/open-iconic.git
[submodule "wp-content/plugins/hb-functional/metaboxes"]
	path = wp-content/plugins/hb-functional/metaboxes
	url = https://github.com/WebDevStudios/Custom-Metaboxes-and-Fields-for-WordPress.git
