.logo {
  text-align: center;
  width: 100%;
  float: left;
  svg {
    max-width: 200px;
    width: 100%;
    @include breakpoint(775px) {
      display: block;
      padding-top: $base--spacing/2;
      float: left;
      width: 230px;
    }
  }
  @include breakpoint(775px) {
    width: 25%;
  }
}
