/***********************
Menus
***********************/

/**
  * Primary
  */
.primary {
  @extend .clearfix;
  font-family: $secondary--font-family;
  width: 100%;
  @include breakpoint(775px) {
    float: right;
    padding: $base--spacing/2 0 0;
    width: 75%;
  }
  ul, ol {
    @include font-size(14px);
    float: right;
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    @include breakpoint(775px) {
      text-align: right;
    }
  }
  &.primary--spaced li {
    padding: 0 2%;
  }
  &.primary--horizontal {
    li {
      &:last-child { // add class instead of :last-child
        margin: 0;
        padding-right: 0;
      }
    }
    @include breakpoint(450px) {
      li {
        display: inline-block;
      }
    }
  }
  a {
    display: block;
    border-bottom: 3px solid rgba(0,0,0,0);
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
      color: $green--light;
      border-bottom: 3px solid $green--light;
    }
    &.btn {
      border: none;
      color: $white;
      margin-top: $base--spacing/2;
      @include breakpoint(775px) {
        margin-top: 0;
      }
    }
  }
}

.primary--horizontal {
  li {
    display: inline-block;
  }
}

.primary--equal-width {
  ul, ol {
    display: table;
    width: 100%;
  }
  li {
    text-align: center;
    display: table-cell;
  }
}

.secondary--horizontal {
  li {
    display: inline-block;
  }
}

.secondary--equal-width {
  ul,
  ol {
    display: table;
    width: 100%;
  }
  li {
    text-align: center;
    display: table-cell;
  }
}
