/***********************
Menus
***********************/

.secondary--horizontal {
  li {
    display: inline-block;
  }
}

.secondary--equal-width {
  ul,
  ol {
    display: table;
    width: 100%;
  }
  li {
    text-align: center;
    display: table-cell;
  }
}
