.services {
  margin: $base--spacing 0;
  padding: 0 ($base--spacing);
}

.services__header {
  font-family: $base--font-family;
  font-weight: $font-weight__bold;
}

.services__title {
  @include font-size(21px);
  color: $green--light;
  font-family: $base--font-family;
  font-style: italic;
  line-height: $base--spacing;
}

.services__title--h4 {
  @include font-size(14px);
  color: $green--light;
  font-family: $secondary--font-family__regular;
  text-transform: uppercase;
}
