html {
  background: $gray--light;
  border: 4px solid $green--light;
  font-family: $base--font-family;
}

body {
  background: $gray--light;
  border: 4px solid $gray--light;
}

// TODO: Footer section
.information {
  padding: $base--spacing 0;
}

// TODO: think about renaming this
.main {
  clear: both;
}
