html {
  background: $gray--light;
  border: 4px solid #69c9ca;
  font-family: $base--font-family;
}

body {
  background: $gray--light;
  border: 4px solid #eee;
}

// TODO: Footer section
.information {
  padding: $base--spacing 0;
}

// TODO: think about renaming this
.main {
  clear: both;
}

.tagline {
  font-size: 36px;
  color: #fff;
}

.mission {
  color: #69C9CA;
  font-size: 18px;
}

// TODO: needs to be added to a global center style
.center {
  margin: 0 auto;
  text-align: center;
}

.latest-work--title {
  background: #C4C4C3;
  border-radius: 4px;
  color: #EEEEEE;
  display: inline-block;
  font-size: 14px;
  padding: $base--spacing / 2;
  text-transform: uppercase;
}

.client-block {
  float: left;
  width: 50%;
}

.svg-container {
  float: right;
}

.summary {
  float: left;
}
