.logo-h1 {
	text-align: center;
}
.logo {
	max-width: 6em;
}

@include breakpoint(50em) {
	.container--header {
		padding-top: 0;
		padding-bottom: 0;
	}
	.logo-h1 {
		line-height: 0; // to get vertical align to work correctly
		text-align: left;
		float: left;
		width: $width--4;
		padding-right: $gutter;
		// padding-right: $gutter/2;
		a {
			display: block;
		}
		bottom: -15px;
		position: relative;
	}
	.logo {
		max-width: none;
	}
	.menu--main {
		flex: 1 0 0;
	}
}
@include breakpoint(65em) {
	.logo-h1 {
		bottom: -20px;
	}
}

// @include breakpoint(50em) {
// 	.container {
// 		padding: 2em;
// 	}
// }

.menu--main {
	text-align: center;
	@include breakpoint(50em) {
		text-align: right;
		float: left;
		width: $width--8;
		padding-top: .5em;
	}
	@include breakpoint(65em) {
		padding-top: .75em;
	}
	ul {
		padding-bottom: 0;
	}
	li {
		display: inline-block;
		// need small font for iPhone 5 and below
		@include font-size(14px);
		// now we can bump it back up to 16 for iPhone 6 and above
		@include breakpoint(22em) {
			@include font-size(16px);
		}
		@include breakpoint(67em) {
			@include font-size(18px);
		}
	}
	a {
		position: relative;
		display: block;
    padding: .5em;
		color: #003333;
		text-transform: uppercase;
		font-weight: bold;
		&:active, &:hover, &:focus {
			color: #66CCCC;
		}
		@include breakpoint(67em) {
			padding: 0.5em 1em;
		}
	}
}

.wrap--hero {
	background: url(../img/skyline-450.jpg) bottom center no-repeat;
	background-size: cover;
	padding-bottom: 2em;
	// ~435px
	@include breakpoint(27em) {
		background-image: url(../img/skyline-600.jpg);
		padding-bottom: 4em;
		padding-top: 1em;
	}
	// ~600px
	@include breakpoint(37em) {
		background-image: url(../img/skyline-850.jpg);
		padding-left: $width--1;
		padding-right: $width--1;
	}
	// ~850px
	@include breakpoint(53em) {
		background-image: url(../img/skyline-1100.jpg);
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 6em;
		overflow: hidden;
	}
	// ~1040px
	@include breakpoint(65em) {
		background-image: url(../img/skyline-1300.jpg);
		padding-top: 2em;
		padding-bottom: 9em;
	}
	//excessive screen sizes. Consider making larger background images for these.
	@include breakpoint(90em) {
		padding-bottom: 13em;
	}
	@include breakpoint(125em) {
		padding-bottom: 17em;
	}
	@include breakpoint(145em) {
		padding-bottom: 19em;
	}
}
.container--hero {
	color: #fff;
	font-style: italic;
	text-shadow: 1px 1px 2px rgba(#000, .75);
	@include breakpoint(37em) {
		@include font-size(24px, false, false);
	}
	@include breakpoint(53em) {
		text-align: left;
		.content-block {
			padding-left: $width--4;
		}
	}
}
.wrap--tiled {
	background: #fff url(../../src/img/tiled-pattern.svg); // using src because svgmin is messing up the svg.
	background-size: contain;
	box-shadow: 0 2px 18px rgba(#000, .25);
	z-index: 1; // so box-shadow shows
	position: relative;
}

.container--devices {
	padding-bottom: 0;
}

.devices {
	position: relative;
	padding-top: 20px;
	@include breakpoint(30em) {
		width: 75%;
		margin-left: 20%;
	}
	.img--laptop {
		display: block;
	}
	.img--tablet, .img--mobile {
		position: absolute;
		bottom: 0;
	}
	.img--laptop {
		width: 100%;
		margin-left: -25%;
		position: relative;
		z-index: 2;
	}
	.img--tablet {
		width: 35%;
		right: 5%;
		bottom: -1px;
	}
	.img--mobile {
		width: 16%;
		right: -3%;
		z-index: 1;
		bottom: -1px;
	}
}

@include breakpoint(50em) {
	.column--half {
		float: left;
		width: 50%;
		.container {
			padding-left: $gutter * 2;
			padding-right: $gutter * 2;
		}
	}
	.container--columns {
		position: relative;
		padding: 0;
	}
	.container--devices {
		position: static;
	}
	.devices {
		position: absolute;
		bottom: 0;
		width: 50%;
		left: 0;
		margin-left: 0;
	}
}

// .wrap--teal {
// 	background: #67c8ca;
// 	color: #093334;
// 	font-family: "AdelleBoldItalic", Georgia, "Times New Roman", serif;
// 	font-size: 21px;
// 	font-style: italic;
// 	font-weight: bold;
// 	line-height: 1.3125;
// 	position: relative;
// 	text-shadow: 0 2px 0 rgba(50, 154, 154, 0.5);
// 	a {
// 		color: #6cc;
// 	}
// }

// .container--teal {
// 	padding-top: 2em;
// 	padding-bottom: 0;
// 	p {
// 		// padding: 0 1.5em;
// 		@include breakpoint (40em) {
// 			@include font-size(28px);
// 		}
// 		@include breakpoint (50em) {
// 			@include font-size(32px);
// 		}
// 	}
// }

// @include breakpoint(45em) {
// 	.devices {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		width: 40%;
// 		height: 100%;
// 	}
// 	.container--medgreen {
// 		padding-right: 45%;
// 		padding-bottom: 0;
// 	}
// }
// @include breakpoint(55em) {
// 	.container--medgreen {
// 		padding-right: 50%;
// 	}
// 	.devices {
// 		width: 40%;
// 	}
// }
// @include breakpoint(60em) {
// 	.container--medgreen {
// 		padding-right: 40%;
// 	}
// 	.devices {
// 		width: 35%;
// 	}
// }
// @include breakpoint(63em) {
// 	.container--medgreen {
// 		padding-right: 41%;
// 	}
// 	.devices {
// 		width: 40%;
// 	}
// }

// .img--laptop {
// 	position: absolute;
// 	bottom: 0;
// 	right: -25%;
// 	max-width: 70%;
// }

// .img--tablet {
// 	position: absolute;
// 	bottom: 0;
// 	left: -3%;
// 	max-width: 25%;
// }

// .img--mobile {
// 	position: absolute;
// 	bottom: 0;
// 	left: 18%;
// 	max-width: 15%;
// }

//generic styles for content blocks
.wrap--content {
	line-height: 1.5;
	color: #fff;
	h2 {
		text-shadow: 2px 2px 0 #093334;
	}
	position: relative;
}

.wrap--dkgreen, .container--dkgreen {
	background: #093334;
}
.wrap--medgreen, .container--medgreen {
	background: #329a9a;
}
.wrap--ltgreen, .container--ltgreen {
	background: #67c8ca;
}

.container--who-we-are {
	// b/c iMac is abs positioned
	position: relative;
}

//wrote a mixin to easialy change the position of the iMac. First param is the width of the page it takes up and the second is the width of the image.
@include who-we-are-offset($width--2, 50%);

@include breakpoint(25em) {
	@include who-we-are-offset($width--3, 75%);
}

@include breakpoint(35em) {
	@include who-we-are-offset($width--4, 70%);
}

@include breakpoint(40em) {
	@include who-we-are-offset($width--4, 60%);
}

@include breakpoint(45em) {
	@include who-we-are-offset($width--4, 50%);
}
@include breakpoint(50em) {
	@include who-we-are-offset($width--4, 40%);
}
@include breakpoint(55em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(60em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(65em) {
	@include who-we-are-offset($width--4, 30%);
}

// @include breakpoint(25em) {
// 	.content-block--who-we-are {
// 		padding-left: 30%;
// 	}

// 	.img--desktop {
// 		width: 75%;
// 		text-align: right;
// 		left: -75% + 30%;
// 	}
// }

// @include breakpoint(45em) {
// 	.content-block--who-we-are {
// 		padding-left: 40%;
// 	}

// 	.img--desktop {
// 		left: -100% + 40%;
// 	}
// }

// .img--lightbulb {
// 	position: absolute;
// 	top: 70px;
// 	right: -30%;
// 	width: 65%;
// 	max-height: none;
// 	@include breakpoint(25em) {
// 		width: 55%;
// 		right: -20%;
// 		top: 50px;
// 	}
// 	@include breakpoint(30em) {
// 		width: 55%;
// 		right: -20%;
// 		top: 50px;
// 	}
// 	// there will probably have to be a few breakpoints to get this to look good at every width. -RT
// }

.wrap--red, .container--red {
	background: #cc3333;
	color: #eee;
	line-height: 1.5;
	// margin: -30% 0 0;
}

.work__blurb {
	@include breakpoint(21em) {
		padding-right: 20%;
		@include breakpoint(35em) {
			padding-right: 30%;
		}
	}
}

.wrap--dark {
	background: #222;
	color: #8757b5;
	a {
		color: #8757b5;
	}
}

@include breakpoint (25em) {
	.addresses {
		float: left;
		width: 100%;
	}
	.addresses__address {
		float: left;
		width: 50%;
		padding-right: 10px;
	}
	.addresses, .fine-print, .menu--secondary {
		@include font-size(16px);
	}
}

@include breakpoint (45em) {
	.addresses__address, .addresses__phone {
		float: left;
		width: 33%;
		padding-right: 10px;
	}
}

.capsule-crm-form {
	text-align: left;
	margin: 0 auto;
	// max-width: 400px;
}
.font--big {
	@include font-size($font-size--hero, true, false);
	font-family: $secondary--font-family;
  // color: #fff;
}
p.alert__thank-you {
	display: none;
	&:target {
		display: block;
	}
}