.logo-h1 {
	text-align: center;
}
.logo {
	max-width: 6em;
}

@include breakpoint(50em) {
	.container--header {
		padding-top: 0;
		padding-bottom: 0;
	}
	.logo-h1 {
		line-height: 0; // to get vertical align to work correctly
		text-align: left;
		float: left;
		width: $width--4;
		padding-right: $gutter;
		a {
			display: block;
		}
		bottom: -15px;
		position: relative;
	}
	.logo {
		max-width: none;
	}
	.menu--main {
		flex: 1 0 0;
	}
}
@include breakpoint(65em) {
	.logo-h1 {
		bottom: -20px;
	}
}

.phone-banner {
	@include font-size(14px);
	line-height: 1.4;
	br {
		display: none;
	}
	@include breakpoint(50em) {
		text-align: left;
		float: left;
		width: $width--3;
		padding-top: .5em;
		@include font-size(16px);
		br {
			display: block;
		}
	}
}

.menu--main {
	text-align: center;
	margin: 0 -.5em;
	@include breakpoint(50em) {
		text-align: right;
		float: left;
		width: $width--8;
		padding-top: .5em;
	}
	@include breakpoint(55em) {
		padding-top: .7em;
	}
	@include breakpoint(60em) {
		padding-top: .8em;
	}
	@include breakpoint(67em) {
		padding-top: 1em;
	}
	@include breakpoint(70em) {
		padding-top: 1.2em;
	}
	@include breakpoint(72em) {
		padding-top: 1.4em;
	}
	ul {
		padding-bottom: 0;
	}
	li {
		display: inline-block;
		// need small font for iPhone 5 and below
		@include font-size(13px);
		// now we can bump it back up to 16 for iPhone 6 and above
		@include breakpoint(22em) {
			@include font-size(16px);
		}
		@include breakpoint(67em) {
			@include font-size(18px);
		}
	}
	li:first-child a {
		padding-left: 0;
	}
	li:last-child a {
		padding-right: 0;
	}
	a {
		position: relative;
		display: block;
		color: #003333;
		padding: 0 .5em;
		text-transform: uppercase;
		font-weight: bold;
		transition: color 0.2s ease-out;
		&:active, &:hover, &:focus {
			color: #66CCCC;
		}
		&:before, &:after {
			display: inline-block;
			opacity: 0;
			transition: transform 0.3s, opacity 0.2s;
			color: #66CCCC;
		}
		@include breakpoint(30em) {
			padding: 0;
			&:before {
				margin-right: .25em;
				content: '<';
				transform: translateX(10px);
			}

			&:after {
				margin-left: .25em;
				content: '>';
				transform: translateX(-10px);
			}
			&:active, &:hover, &:focus {
				&:before, &:after {
					opacity: 1;
					transform: translateX(0px);
				}
			}
		}
	}
}
.menu--social {
	clear: both;
	margin-left: -10px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
	}
	svg, img {
		display: inline-block;
	}
	.menu__item a {
		display: block;
		border-radius: 50%;
		height: 50px;
		width: 50px;
		&:hover, &:focus {
			background: #ddd;
		}
	}
}

.wrap--hero {
	background: url(/img/skyline-450.jpg) bottom center no-repeat;
	background-size: cover;
	padding-bottom: 2em;
	// ~435px
	@include breakpoint(27em) {
		background-image: url(/img/skyline-600.jpg);
		padding-bottom: 4em;
		padding-top: 1em;
	}
	// ~600px
	@include breakpoint(37em) {
		background-image: url(/img/skyline-850.jpg);
		padding-left: $width--1;
		padding-right: $width--1;
	}
	// ~850px
	@include breakpoint(53em) {
		background-image: url(/img/skyline-1100.jpg);
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 6em;
		overflow: hidden;
	}
	// ~1040px
	@include breakpoint(65em) {
		background-image: url(/img/skyline-1300.jpg);
		padding-top: 2em;
		padding-bottom: 9em;
	}
	//excessive screen sizes. Consider making larger background images for these.
	@include breakpoint(90em) {
		padding-bottom: 13em;
	}
	@include breakpoint(125em) {
		padding-bottom: 17em;
	}
	@include breakpoint(145em) {
		padding-bottom: 19em;
	}
}
.container--hero {
	color: #fff;
	font-style: italic;
	text-shadow: 1px 1px 2px rgba(#000, .75);
	.content-block {
		text-align: center;
		@include breakpoint(37em) {
			@include font-size(25px);
		}
		@include breakpoint(53em) {
			width: $width--8;
			float: right;
			text-align: left;
		}
	}
}
.wrap--tiled {
	background: #fff url(/img/tiled-pattern.svg); // using src because svgmin is messing up the svg.
	// background-size: contain;
	box-shadow: 0 2px 18px rgba(#000, .25);
	z-index: 1; // so box-shadow shows
	position: relative;
}

.container--devices {
	padding-bottom: 0;
}

.devices {
	position: relative;
	padding-top: 20px;
	@include breakpoint(30em) {
		width: 75%;
		margin-left: 20%;
	}
	.img--laptop {
		display: block;
	}
	.img--tablet, .img--mobile {
		position: absolute;
		bottom: 0;
	}
	.img--laptop {
		width: 100%;
		margin-left: -25%;
		position: relative;
		z-index: 2;
	}
	.img--tablet {
		width: 35%;
		right: 5%;
		bottom: -1px;
	}
	.img--mobile {
		width: 16%;
		right: -3%;
		z-index: 1;
		bottom: -1px;
	}
}
.container--columns {
	position: relative;
	padding: 0;
}

@include breakpoint(50em) {
	.container--columns {
		display: flex;
	}
	.column--half {
		float: left;
		width: 50%;
		.container {
			padding: $gutter;
		}
		.container--devices {
			padding-bottom: 400px;
		}
	}
	.column--half--spaced.first {
		padding-right: $gutter;
	}
	.column--half--spaced.last {
		padding-left: $gutter;
	}
	.container--devices {
		position: static;
	}
	.devices {
		position: absolute;
		bottom: 0;
		width: 50%;
		left: 0;
		margin-left: 0;
	}
}

//generic styles for content blocks
.wrap--content {
	line-height: 1.5;
	color: #fff;
	h2, h3 {
		text-shadow: 2px 2px 0 #093334;
		a {
			color: #67c8ca;
			&:hover, &:focus {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
	position: relative;
}

.wrap--dkgreen, .container--dkgreen {
	background: #093334;

}
.wrap--medgreen, .container--medgreen {
	background: #329a9a;
}
.wrap--ltgreen, .container--ltgreen {
	background: #67c8ca;
}

.container--work {
	img {
		transition: box-shadow .3s ease-out;
		box-shadow: 4px 4px 0 rgba(lighten(#093334, 10%), 0.8);
	}
	a:hover, a:focus {
		img {
			box-shadow: 0 0 0 rgba(lighten(#093334, 10%), 0.8);
		}
	}
}
.container--who-we-are {
	// b/c iMac is abs positioned
	position: relative;
}

//wrote a mixin to easialy change the position of the iMac. First param is the width of the page it takes up and the second is the width of the image.
@include who-we-are-offset($width--2, 50%);

@include breakpoint(25em) {
	@include who-we-are-offset($width--3, 75%);
}

@include breakpoint(35em) {
	@include who-we-are-offset($width--4, 70%);
}

@include breakpoint(40em) {
	@include who-we-are-offset($width--4, 60%);
}

@include breakpoint(45em) {
	@include who-we-are-offset($width--4, 50%);
}
@include breakpoint(50em) {
	@include who-we-are-offset($width--4, 40%);
}
@include breakpoint(55em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(60em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(70em) {
	@include who-we-are-offset($width--4, 30%);
}

.wrap--red, .container--red {
	background: #cc3333;
	color: #eee;
	line-height: 1.5;
	// margin: -30% 0 0;
}

.work__blurb {
	@include breakpoint(21em) {
		padding-right: 20%;
		@include breakpoint(35em) {
			padding-right: 30%;
		}
	}
}

.wrap--dark {
	background: #222;
	color: #8757b5;
	a {
		color: #8757b5;
	}
}

@include breakpoint (25em) {
	.addresses {
		float: left;
		width: 100%;
	}
	.addresses__address {
		float: left;
		width: 50%;
		padding-right: 10px;
	}
	.addresses, .fine-print, .menu--secondary {
		@include font-size(16px);
	}
}

@include breakpoint (45em) {
	.addresses__address, .addresses__phone {
		float: left;
		width: 33%;
		padding-right: 10px;
	}
}

.capsule-crm-form {
	text-align: left;
	margin: 0 auto;
}
.font--big {
	@include font-size($font-size--hero, true, false);
	font-family: $secondary--font-family;
}
p.alert__thank-you {
	display: none;
	&:target {
		display: block;
	}
}