.menu--social {
	clear: both;
	margin-left: -10px;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
	}
	svg, img {
		display: inline-block;
	}
	svg path {
		fill: $secondary--purple-light;
	}
	a:hover, a:focus {
		svg path {
			fill: lighten($secondary--purple-light, 10%);
		}
	}
	.menu__item a {
		display: block;
		height: 50px;
		width: 50px;
	}
}

@include breakpoint (25em) {
	.addresses {
		float: left;
		width: 100%;
	}
	.addresses__address {
		float: left;
		width: 50%;
		padding-right: 10px;
	}
	.addresses, .fine-print, .menu--secondary {
		@include font-size(16px);
	}
}

@include breakpoint (45em) {
	.addresses__address, .addresses__phone {
		float: left;
		width: 33%;
		padding-right: 10px;
	}
}
