fieldset {
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: $base--spacing;
}
label {
  display: block;
}
.label--inline {
  display: inline;
}
.label--required {
  &:after {
    content: " *";
    color: #c33;
  }
}
.label--radio {
  margin-bottom: 0;
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.label--checkbox {
  margin-bottom: 0;
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

input[type="submit"], button[type="submit"] {
  display: block;
  background: #ad1414;
  border: 0;
  border-radius: 0;
  box-shadow: 4px 4px 0 rgba(#580d0a, 1);
  color: #eee;
  line-height: 1;
  padding: 0.75em 1em;
  transition: background .3s, box-shadow .3s;
  &:focus, &:hover {
    background: lighten(#ad1414, 10%);
    color: #fff;
    box-shadow: 2px 2px 0 #580d0a;
  }
}

select {
  margin-bottom: $base--spacing;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  @include font-size(18px);
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  padding: 0.5em;
  border: 1px solid #093334;
  box-shadow: 4px 4px 0 rgba(#093334, 0.8);
  border-radius: 0;
  width: 100%;
  max-width: 600px;
  &:focus {
    border-color: darken($base--border, 10%);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075),0 0 8px rgba($base--border, 0.6);
  }
  @include input-placeholder {
    color: rgba(#000, 0.5);
  }
}
.container--red, .wrap--red {
  input[type="text"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    border: 0;
    box-shadow: 4px 4px 0 rgba(104, 14, 15, 0.8);
    background: #fff;
  }
  input[type="submit"], button[type="submit"] {
    background: #580d0a;
    box-shadow: 4px 4px 0 rgba(173, 20, 20, 1);
    color: #eee;
    &:focus, &:hover {
      background: #ad1414;
      box-shadow: 4px 4px 0 #580d0a;
    }
  }
}
textarea {
  height: 130px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
  margin-bottom: 0;
}
.form-allowed-tags {
  @include font-size(12px);
  max-width: 600px;
}
