fieldset {
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: $base--spacing;
}
label {
  display: block;
}
.label--inline {
  display: inline;
}
.label--required {
  &:after {
    content: " *";
    color: $secondary--red;
  }
}
.label--radio {
  margin-bottom: 0;
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.label--checkbox {
  margin-bottom: 0;
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

select {
  margin-bottom: $base--spacing;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  @include font-size(18px);
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  padding: .5em;
  transition: box-shadow .3s;
  border: 1px solid darken($grey--light, 30%);
  box-shadow: 4px 4px 0 darken($grey--light, 30%);
  border-radius: 0;
  width: 100%;
  max-width: 600px;
  &:focus {
    border-color: darken($base--border, 10%);
    outline: 0;
    box-shadow: 2px 2px 0 darken($grey--light, 30%);
  }
  @include input-placeholder {
    color: rgba($black, 0.5);
  }
}
.container--red, .wrap--red {
  input[type="text"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    border: 0;
    box-shadow: 4px 4px 0 rgba($secondary--red-dark, 0.8);
    background: $white;
    &:focus {
      outline: 0;
      box-shadow: 2px 2px 0 rgba($secondary--red-dark, 0.8);
    }
  }
  input[type="submit"], button[type="submit"] {
    @extend .btn--red;
  }
}
textarea {
  height: 130px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
  margin-bottom: 0;
}
.form-allowed-tags {
  @include font-size(12px);
  max-width: 600px;
}
