fieldset {
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: $base--spacing;
}
label {
  display: block;
}
.label--inline {
  display: inline;
}
.label--required {
  &:after {
    content: " *";
    color: $secondary--red;
  }
}
.label--radio {
  margin-bottom: 0;
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.label--checkbox {
  margin-bottom: 0;
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}

input[type="submit"], button[type="submit"] {
  display: block;
  background: $secondary--purple-light;
  border: 0;
  border-radius: 0;
  box-shadow: 4px 4px 0 $secondary--purple-dark;
  color: $grey--light;
  line-height: 1;
  padding: 0.75em 1em;
  transition: background .3s, box-shadow .3s;
  &:focus, &:hover {
    background: lighten($secondary--purple-light, 10%);
    color: $white;
    box-shadow: 2px 2px 0 $secondary--purple-dark;
  }
}

select {
  margin-bottom: $base--spacing;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
  @include font-size(18px);
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  padding: 0.5em;
  border: 1px solid $secondary--blue-dark;
  box-shadow: 4px 4px 0 rgba($secondary--blue-dark, 0.8);
  border-radius: 0;
  width: 100%;
  max-width: 600px;
  &:focus {
    border-color: darken($base--border, 10%);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba($black, 0.075), 0 0 8px rgba($base--border, 0.6);
  }
  @include input-placeholder {
    color: rgba($black, 0.5);
  }
}
.container--red, .wrap--red {
  input[type="text"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    border: 0;
    box-shadow: 4px 4px 0 rgba($secondary--red-dark, 0.8);
    background: $white;
  }
  input[type="submit"], button[type="submit"] {
    background: $secondary--red-dark;
    box-shadow: 4px 4px 0 $secondary--red-dark;
    color: $grey--light;
    &:focus, &:hover {
      background: $secondary--red;
      box-shadow: 4px 4px 0 $secondary--red-dark;
    }
  }
}
textarea {
  height: 130px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
  margin-bottom: 0;
}
.form-allowed-tags {
  @include font-size(12px);
  max-width: 600px;
}
