.wrap--hero {
	background: url(dist/img/skyline-450.jpg) bottom center no-repeat;
	background-size: cover;
	padding-bottom: 2em;
	// ~435px
	@include breakpoint(27em) {
		background-image: url(dist/img/skyline-600.jpg);
		padding-bottom: 4em;
		padding-top: 1em;
	}
	// ~600px
	@include breakpoint(37em) {
		background-image: url(dist/img/skyline-850.jpg);
		padding-left: $width--1;
		padding-right: $width--1;
	}
	// ~850px
	@include breakpoint(53em) {
		background-image: url(dist/img/skyline-1100.jpg);
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 6em;
		overflow: hidden;
	}
	// ~1040px
	@include breakpoint(65em) {
		background-image: url(dist/img/skyline-1300.jpg);
		padding-top: 2em;
		padding-bottom: 9em;
	}
	//excessive screen sizes. Consider making larger background images for these.
	@include breakpoint(90em) {
		padding-bottom: 13em;
	}
	@include breakpoint(125em) {
		padding-bottom: 17em;
	}
	@include breakpoint(145em) {
		padding-bottom: 19em;
	}
}
.container--hero {
	color: $white;
	font-style: italic;
	text-shadow: 1px 1px 2px rgba($black, .75);
	.content-block {
		text-align: center;
		@include breakpoint(40em) {
			@include font-size(29px);
		}
		@include breakpoint(53em) {
			width: $width--8;
			float: right;
			text-align: left;
		}
	}
}
.wrap--tiled {
	background: $white url(dist/img/tiled-pattern.svg); // using src because svgmin is messing up the svg.
	// background-size: contain;
	box-shadow: 0 2px 18px rgba($black, .25);
	z-index: 1; // so box-shadow shows
	position: relative;
}
.container--devices {
	padding-bottom: 0;
}
@include breakpoint(50em) {
	.container--devices {
		padding-bottom: 420px;
	}
}

.devices {
	position: relative;
	padding-top: 20px;
	@include breakpoint(30em) {
		width: 75%;
		margin-left: 20%;
	}
	.img--laptop {
		display: block;
	}
	.img--tablet, .img--mobile {
		position: absolute;
		bottom: 0;
	}
	.img--laptop {
		width: 100%;
		margin-left: -25%;
		position: relative;
		z-index: 2;
	}
	.img--tablet {
		width: 35%;
		right: 5%;
		bottom: -1px;
	}
	.img--mobile {
		width: 16%;
		right: -3%;
		z-index: 1;
		bottom: -1px;
	}
}
.container--columns {
	position: relative;
	padding: 0;
}

@include breakpoint(50em) {
	.container--columns {
		display: flex;
	}
	.column--half {
		float: left;
		width: 50%;
		.container {
			padding: $base--spacing;
		}
		.container--devices {
			padding-bottom: 400px;
		}
	}
	.column--half--spaced.first {
		padding-right: $base--spacing;
	}
	.column--half--spaced.last {
		padding-left: $base--spacing;
	}
	.container--devices {
		position: static;
	}
	.devices {
		position: absolute;
		bottom: 0;
		width: 50%;
		left: 0;
		margin-left: 0;
	}
}

//generic styles for content blocks
.wrap--content {
	line-height: 1.5;
	color: $white;
	h1, h2, h3 {
		text-shadow: 2px 2px 0 $greens--dark;
		a {
			color: $greens--light;
			&:hover, &:focus {
				color: $white;
				text-decoration: underline;
			}
		}
	}
	position: relative;
}
.wrap--dkgreen, .container--dkgreen {
	background: $greens--dark;
}

.wrap--medgreen, .container--medgreen, .wrap--hero {
	background-color: $greens--medium;
}
.wrap--ltgreen, .container--ltgreen {
	background: $greens--light;
}

.wrap--blue, .container--blue {
	background: $secondary--blue;
	a {
		color: lighten($secondary--blue, 40%);
	}
}
.wrap--grey, .container--grey {
	background: $grey--light;
}

.container--work {
	img {
		transition: box-shadow .3s ease-out;
		box-shadow: 4px 4px 0 rgba(lighten($greens--dark, 10%), 0.8);
	}
	a:hover, a:focus {
		img {
			box-shadow: 0 0 0 rgba(lighten($greens--dark, 10%), 0.8);
		}
	}
}
.container--who-we-are {
	// b/c iMac is abs positioned
	position: relative;
}

//wrote a mixin to easialy change the position of the iMac. First param is the width of the page it takes up and the second is the width of the image.
@include who-we-are-offset($width--2, 50%);

@include breakpoint(25em) {
	@include who-we-are-offset($width--3, 75%);
}

@include breakpoint(35em) {
	@include who-we-are-offset($width--4, 70%);
}

@include breakpoint(40em) {
	@include who-we-are-offset($width--4, 60%);
}

@include breakpoint(45em) {
	@include who-we-are-offset($width--4, 50%);
}
@include breakpoint(50em) {
	@include who-we-are-offset($width--4, 40%);
}
@include breakpoint(55em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(60em) {
	@include who-we-are-offset($width--4, 35%);
}
@include breakpoint(70em) {
	@include who-we-are-offset($width--4, 30%);
}

.wrap--red, .container--red {
	background: $secondary--red;
	color: $grey--light;
	line-height: 1.5;
	a {
    color: $white;
  }
  h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 0 $black;
  }
}

.work__blurb {
	@include breakpoint(21em) {
		padding-right: 20%;
		@include breakpoint(35em) {
			padding-right: 30%;
		}
	}
}

.wrap--dark {
	background: $black;
	color: $secondary--purple-light;
	a {
		color: $secondary--purple-light;
	}
}

.capsule-crm-form {
	text-align: left;
	max-width: 600px;
}
.font--big {
	@include font-size($font-size--hero, true, false);
	@include responsible-font-family($secondary--font-family, sans-serif);
}
p.alert__thank-you {
	display: none;
	&:target {
		display: block;
	}
}
