/*
 * Generic Links
 */

a:link {

}
a:visited {

}
a:hover, a:focus {

}
a:active {
  text-decoration: none;
}

/*
 * Buttons
 */

a.btn, .btn {
  display: inline-block;
  background: $grey--light;
  border: 0;
  border-radius: 0;
  color: $black;
  line-height: 1;
  text-decoration: none;
  padding: 0.75em 1em;
  transition: background .3s, box-shadow .3s;
  @include long-box-shadow(darken($grey--light, 30%));
  &:hover, &:focus {
    background: darken($grey--light, 10%);
    color: lighten($black, 10%);
  }
}
a.btn--purple, .btn--purple {
  @extend .btn;
  background: $secondary--purple-light;
  color: $grey--light;
  @include long-box-shadow($secondary--purple-dark);
  &:hover, &:focus {
    background: lighten($secondary--purple-light, 10%);
    color: $white;
  }
}
a.btn--red, .btn--red {
  @extend .btn;
  background: $secondary--red-dark;
  color: $grey--light;
  @include long-box-shadow($secondary--red-dark);
  &:hover, &:focus {
    color: $grey--light;
    background: lighten($secondary--red-dark, 10%);
  }
}

a.btn--green, .btn--green {
  @extend .btn;
  background: $greens--medium;
  color: $grey--light;
  @include long-box-shadow(darken($greens--medium, 10%));
  &:hover, &:focus {
    color: $grey--light;
    background: $greens--dark;
  }
}

.btn--search {
  position: relative;
  top: 4px;
  $btn-search-padding: 13px;
  width: $btn-search-padding*2 + 18px;
	height: $btn-search-padding*2 + 18px;
  padding: $btn-search-padding;
  margin: 0;
  &:hover, &:focus {
		path {
			fill: darken($grey--light, 20%);
		}
	}
  svg {
		height: 100%;
		width: 100%;
	}
	path {
		fill: darken($grey--light, 40%);
	}
}
