.container--page-title {
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;

  .entry-title, .page-title {
    @include font-size(32px, false);
    margin-bottom: 0;
  }

  .entry-meta a {
    color: $white;
    text-decoration: none;
  }

  .title-wrap a {
    color: $white;
  }

  @include breakpoint(50em) {
    .single & {
      margin-bottom: 1.5em;
    }

    padding-bottom: 25px;
    padding-top: 40px;
    text-align: left;

    .title-wrap {
      .entry-title, .page-title {
        @include font-size(42px);
      }
      float: left;
      width: 66%;
    }

    .entry-meta {
      float: right;
      text-align: right;
    }
  }

}

.wrap--category {
  background: $greens--light;
}
.wrap--category--developer {
  background: url(dist/img/banner-developer.png);
}

.taxonomy-description p:last-child {
  margin-bottom: 0;
}

.content-area {
  .post {
    border-bottom: 1px solid $grey--light;
    margin-bottom: $base--spacing;
    padding-bottom: $base--spacing;
    &:last-child {
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.author-gravatar img {
  border-radius: 50%;
}

.posted-on a {
  text-decoration: none;
}

.cat-links {
  &:before {
    content: "//";
    padding: 0 5px;
    color: $greens--light;
  }
}

.entry-summary {
  p:last-child {
    margin-bottom: 0;
  }
}
