.container--page-title {
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;

  .entry-title,
  .page-title {
    @include font-size(32px, false);
    margin-bottom: 0;
  }

  .entry-meta a {
    color: $white;
    text-decoration: none;
  }

  .title-wrap a {
    color: $white;
  }

  @include breakpoint(50em) {

    padding-bottom: 25px;
    padding-top: 40px;
    text-align: left;

    .single & {
      margin-bottom: 1.5em;
    }

    .title-wrap {

      .entry-title,
      .page-title {
        @include font-size(42px);
      }

      float: left;
      width: 66%;
    }

    .entry-meta {
      float: right;
      text-align: right;
    }
  }

}

.wrap--category {
  background: $greens--medium;
}
.wrap--category--developer {
  background: url("dist/img/banner-developer.png");
}

.taxonomy-description p:last-child {
  margin-bottom: 0;
}

.content-area {
  .post,
  .page {
    border-bottom: 1px solid $grey--light;
    margin-bottom: $base--spacing;
    //  padding-bottom: $base--spacing; Assumes the last element has space on the bottom.
    &:last-child {
      border: 0;
      margin-bottom: 0;
    }
  }
}

.author-gravatar img {
  border-radius: 50%;
}

.posted-on a {
  text-decoration: none;
}

.cat-links {
  &:before {
    color: $greens--light;
    content: '//';
    padding: 0 5px;
  }
}

.pinboard-link-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    background: darken($grey--light, 20%);
    margin-bottom: $base--spacing;
    padding: $base--spacing;
    color: $white;
    a {
      color: $white;
      font-family: $secondary--font-family__bold;
      text-decoration: none;
      @include font-size(24px);
    }
    &:nth-child(8n+1) {
      background: lighten($secondary--blue-dark, 10%);
    }
    &:nth-child(8n+2) {
      background: $secondary--blue;
    }
    &:nth-child(8n+3) {
      background: lighten($secondary--blue, 10%);
    }
    &:nth-child(8n+4) {
      background: lighten($secondary--blue, 20%);
    }
    &:nth-child(8n+5) {
      background: lighten($secondary--purple-light, 10%);
    }
    &:nth-child(8n+6) {
      background: lighten($secondary--purple-light, 5%);
    }
    &:nth-child(8n+7) {
      background: lighten($secondary--purple-light, 0);
    }
    &:nth-child(8n+8) {
      background: $secondary--purple-dark;
    }
  }
  .pinboard-link-note {
    display: block;
  }
}

.hb-icon {

}

.hb-icon-svg {
  float: right;
  width: 100px;
  height: 100px;
  background: $secondary--blue; //default
  margin-left: $base--spacing;
  margin-bottom: $base--spacing;
  text-align: center;
  padding: 25px;
  box-shadow: 0 0 20px rgba(#000, .3);
  svg {
    width: 100%;
    height: 100%;
  }
  path {
    fill: $white;
  }
}
