.container--page-title {
	padding-top: 20px;
	padding-bottom: 15px;
  text-align: center;
  .entry-title {
    margin-bottom: 0;
    @include font-size(32px, false);
    /* line-height: 1.5; */
  }
  .entry-meta a {
    color: #fff;
    text-decoration: none;
  }
  @include breakpoint(50em) {
    padding-top: 40px;
    text-align: left;
  	padding-bottom: 25px;
    margin-bottom: 1.5em;
    .entry-title {
      float: left;
      width: 66%;
      @include font-size(42px);
    }
    .entry-meta {
      float: right;
      text-align: right;
    }
  }

}
