/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: .5em 1.5em 1.5em 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: .5em auto .5em auto;
}

.alignright {
  float:right;
  margin: .5em 0 1.5em 1.5em;
}

.alignleft {
  float: left;
  margin: .5em 1.5em 1.5em 0;
}

a img.alignright {
  float: right;
  margin: .5em 0 1.5em 1.5em;
}

a img.alignnone {
  margin: .5em 1.5em 1.5em 0;
}

a img.alignleft {
  float: left;
  margin: .5em 1.5em 1.5em 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.wp-caption {
  background: $white;
  border: 1px solid $grey--light;
  max-width: 96%; /* Image does not overflow the content area */
  padding: .5em 3px 10px;
  text-align: center;
  @include font-size(12px);
}

.wp-caption.alignnone {
  margin: .5em 1.5em 1.5em 0;
}

.wp-caption.alignleft {
  margin: .5em 1.5em 1.5em 0;
}

.wp-caption.alignright {
  margin: .5em 0 1.5em 1.5em;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  @include font-size(11px);
  line-height: 17px;
  margin: 0;
  padding: 0 4px .5em;
}


blockquote {
  border-top: 1px solid $grey--light;
  border-bottom: 1px solid $grey--light;
  font-style: italic;
  padding: 1.5em;
  @include font-size(14px);
  p:last-child {
    margin-bottom: 0;
  }
}
